<head>
    <meta charset="UTF-8" />
    <title>Index</title>
    <meta name="icon" content="https://fail.chimmie.k.vu/img/server.svg" />
    <link rel="icon" href="https://fail.chimmie.k.vu/img/server.svg" />
</head>