@media (prefers-color-scheme: light) {
    body::before {
        background: linear-gradient(#ffffff, #ffa9a9);
    }

    .nko i {
        color: #a17777;
    }

    .message {
        color: #8c48e6;
        text-shadow: 2px 2px 4px #ab57ff48;
    }

    hr {
        background: radial-gradient(#8c48e6 1%, #00000000 40%);
        height: 2px;
        border: none;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: #48148b;
    }

    a:hover {
        color: #a675e7;
    }

    ::selection {
        color: #f14e8f;
        background-color: #0000002f;
    }
}

@media (prefers-color-scheme: dark) {
    body::before {
        background: linear-gradient(#322522, #323232);
    }

    .nko i {
        color: #ffc1c1;
    }

    .message {
        color: #c192ff;
        text-shadow: 2px 2px 4px #ab5bfb1f;
    }

    hr {
        background: radial-gradient(#c192ff 1%, #00000000 40%);
        height: 2px;
        border: none;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: #8f47ed;
    }

    a:hover {
        color: #d5b4ff;
    }

    ::selection {
        color: #f14e8f;
        background-color: #0000002f;
    }
}
