@media (prefers-color-scheme: light) {
    body::before {
        background: linear-gradient(#ffffff, #b9ffa9);
    }

    .nko i {
        color: #a17777;
    }

    .message {
        color: #488ae6;
        text-shadow: 2px 2px 4px #ab57ff48;
    }

    hr {
        background: radial-gradient(#486fe6 1%, #00000000 40%);
        height: 2px;
        border: none;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: #48148b;
    }

    a:hover {
        color: #a675e7;
    }

    ::selection {
        color: #4e74f1;
        background-color: #0000002f;
    }
}

@media (prefers-color-scheme: dark) {
    body::before {
        background: linear-gradient(#283222, #323232);
    }

    .nko i {
        color: #c8ffc1;
    }

    .message {
        color: #92c7ff;
        text-shadow: 2px 2px 4px #ab5bfb1f;
    }

    hr {
        background: radial-gradient(#92bfff 1%, #00000000 40%);
        height: 2px;
        border: none;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: #47b0ed;
    }

    a:hover {
        color: #b4daff;
    }

    ::selection {
        color: #644ef1;
        background-color: #0000002f;
    }
}
