/* For Chromium-based browsers */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #ffbebe;
}

::-webkit-scrollbar-thumb {
    background-color: #ffb663;
    border-radius: 5px;
}

/* For Mozilla-based browsers */
html {
    scrollbar-color: #ffb663 #ffbebe;
}
