@font-face {
    font-family: "AEROFonts";
    src: url("../fonts/AEROFonts.otf");
}

* {
	transition: all 0.3s ease;
}

body {
    display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

body::before {
    background-repeat: no-repeat;
    background-position: top-left;
    background-size: cover;
    z-index: -1;
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

img {
	display: inline-block;
	vertical-align: middle;
}

.nko i {
    font-family: "AEROFonts";
}

.message {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
